# chmod 0600

proxy = http://http.proxy.fmr.com:8000
https-proxy = http://http.proxy.fmr.com:8000
http-proxy=http://http.proxy.fmr.com:8000

loglevel = warn
registry=https://registry.npmjs.org

always-auth = true

strict-ssl = false